* {
     font-family: "Playfair Display", serif;
  font-weight: bold;
  }

a{
    cursor: pointer;
    text-decoration: none;
}
a:hover
{
    cursor: pointer;
    text-decoration: none;
}
/* login & signin*/
.form
{
    border-radius: 20px;
    background-color: rgba(185, 182, 182, 0.1);
}

.address
{
  font-weight: bold;
}
button
{
    color: rgb(245, 243, 243) !important;
    background-color:#706b6e ;
    border: none;
    border-radius: 20px;
    padding: 10px;
}